{% extends 'GamerBundle::base.html.twig' %}


{% block body %}
    {% block content %}
        <h1 class="partieH1">Unicorn Cat</h1>
        {% for partie in parties %}
            <a class="q-tuile" href="{{ path('partie_show', { 'id': partie.id }) }}">
                <table class="table-responsive">
                    <tbody>

                    <tr class="q-party-name">
                        <td>{{ partie.lieu }}</td>
                        <td>{{ partie.nom }}</td>
                        <td>{{ partie.texte }}</td>
                    </tr>
                    <tr class="q-box-party">
                        <td>{% for image in partie.images %}
                                <p><img class="q-party-picture" src="{{ asset('/uploads/partie_picture/'~ image.photo )}}"/></p>
                            {% endfor %}</td>
                        <td>
                            <p>classement here</p>
                        </td>
                    </tr>
                    </div>

                    </tbody>
                </table>
            </a>
        {% endfor %}
    {% endblock %}
{% endblock %}
