{% extends '@Gamer/base.html.twig' %}

{% block body %}
    <h1 class="partieH1">{{ partie.nom }}</h1>
    <div class="q-show-center">
    {% for image in partie.images %}
        <p><img class="q-img-show" src="{{ asset('/uploads/partie_picture/'~ image.photo )}}"/></p>
    {% endfor %}
    <table class="q-show-center">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ partie.nom }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{% if partie.duree %}{{ partie.duree|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ partie.lieu }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ partie.texte }}</td>
            </tr>
        </tbody>
    </table>
    </div>
{#<div class="q-show-center">#}
            {#<button class="btn btn-warning q-link"><a href="{{ path('partie_index') }}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>&nbsp;Retour</a></button>#}
{#</div>#}
{% endblock %}
