{% extends '@Gamer/base.html.twig' %}

{% block body %}
    <h1 class="partieH1">{{ partie.nom }}</h1>
    {% for image in partie.images %}
        <p><img class="img-circle" src="{{ asset('/uploads/partie_picture/'~ image.photo )}}"/></p>
    {% endfor %}
    <table>
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ partie.nom }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{% if partie.duree %}{{ partie.duree|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ partie.lieu }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ partie.texte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partie_index') }}">Retour à la liste des parties</a>
        </li>
        {#<li>
            <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>#}

    </ul>
{% endblock %}
