<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    <div class="q-head">
        <img class="q-logo" src="{{ asset('assets/images/chatcorn.png') }}" alt="">
    </div>
</header>
{% block nav %}
    <div class="nav">
        <div class="nav_link">
            <a href="{{ path ('partie_index') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
        <div class="nav_link">
            <a href="#"><i class="fa fa-trophy" aria-hidden="true"></i></a>
        </div>
        <div class="nav_link">
            <a href="{{ path('partie_new') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
        <div class="nav_link">
            <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
        </div>
        <div class="nav_link">
            <a href="{{ path ('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
    </div>
{% endblock %}
{% block body %}
    {% block content %}

    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script>
        // ajout de la classe JS à HTML
        document.querySelector("html").classList.add('js');

        // initialisation des variables
        var fileInput  = document.querySelector( ".input-file" ),
                button     = document.querySelector( ".input-file-trigger" ),
                the_return = document.querySelector(".file-return");

        // action lorsque la "barre d'espace" ou "Entrée" est pressée
        button.addEventListener( "keydown", function( event ) {
            if ( event.keyCode == 13 || event.keyCode == 32 ) {
                fileInput.focus();
            }
        });

        // action lorsque le label est cliqué
        button.addEventListener( "click", function( event ) {
            fileInput.focus();
            return false;
        });

        // affiche un retour visuel dès que input:file change
        fileInput.addEventListener( "change", function( event ) {
            the_return.innerHTML = this.value;
        });
    </script>
{% endblock %}
</body>
</html>
